# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objective:

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. SciKit-Learn

|  Data Science Tools |
| -------- | 
| JUPYTER NOTEBOOK | 
| RSTUDIO | 
| APACHE SPARK |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [5]:
mins = 200
hours = mins/60
hours #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author:
Hoang Bao Long Vo